@import "variables.less";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.title {
  font-size: 2em;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.header .button {
  width: 50px;
  font-size: 0.8em;
  padding: 0;
  height: 50px;
  margin-left: 10px;
}

.header .button button {
  padding: 0;
  height: 50px;
  border-radius: 50%;
}

.header .button button i {
  margin-left: 0;
  margin-right: 0;
}

.url {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.url input {
  padding-left: 0.5em;
}

.controls {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.controls .connect {
  font-size: 1.75em;
  width: 150px;
  height: 150px;
  padding: 0;
}

.controls .connect button i {
  margin: 0;
}

.controls .connect button {
  background-color: @light-primary;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.controls .save {
  width: 150px;
}

.sockets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
